{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->



{% block body %}


<!-- Main Content -->

<div class="content container-fluid" xmlns="http://www.w3.org/1999/html">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">List Users Page</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">List Active Users</a></li>
                        <li class="breadcrumb-item active">Admin - Users</li>
                    </ul>
                </div>
            </div>
        </div>
	 </div>

      {% if messages %}
        <div class="alert  alert-light alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
       </div>
       {% endif %}

	<div class="row">
		<div class="col-sm-12">
			<div class="card mb-0">
				<div class="card-header">
					<h4 class="card-title mb-0">Default User Listing</h4>
					<p class="card-text">
						This is the list of Users registered with scope is END USER, (Both Activated and Pending)
					</p>
				</div>
				<div class="card-body">

					<div class="table-responsive">
						<table class="datatable table table-stripped mb-0">
							<thead>
								<tr>
									<th>Username</th>
									<th>Name</th>
									<th>Refferd By</th>
									<th>Status</th>
									<th>Package </th>
									<th>Change Status </th>
								</tr>
							</thead>
							<tbody>
							{% for user in users %}
								<tr>
									<td> {{user.username}} </td>
									<td>{{user.first_name}}</td>
									<td>
										{% if user.referred_by %}
										{{user.referred_by}}
										{% else %}
										NIL
										{% endif %}
									</td>
									<td>  {% if user.is_active %}
										<button type="button" class="btn btn-primary btn-sm">Active</button>
											{% else %}
										<button type="button" class="btn btn-secondary btn-sm">Inactive</button>
											{% endif %}
									</td>
									<td>{{user.package}}</td>
									 {% if user.is_active %}
									 <td>  <form method="post" action="/adminapp/disable-user/{{user.id}}">
										 {% csrf_token %}
										 <button type="submit" class="btn btn-danger btn-sm">Disable </button>  </form> </td>
									{% else %}
									 <td>  <form method="post" action="/adminapp/approve-user/{{user.id}}">
										 {% csrf_token %}
										 <button type="submit" class="btn btn-success btn-sm"> Activate </button>
									 </form> </td>
									{% endif %}
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- End Main content-->


{% endblock %}