{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
<!-- Main Content -->

<div class="content container-fluid" xmlns="http://www.w3.org/1999/html">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">List All Payments</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/adminapp/view-payment-methods/">List Payment Methods</a></li>
                        <li class="breadcrumb-item active">Admin - Payment Types</li>
                    </ul>
                </div>
            </div>
        </div>
	 </div>

      {% if messages %}
        <div class="alert  alert-light alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
       </div>
       {% endif %}

    <div class="container">
    <div class="row packages-row">


	                <div class="col-12 col-md-6 col-lg-6 md-flex">
                            <form method="post" enctype="multipart/form-data" action="/adminapp/create-payment-methods/" >
                                {% csrf_token %}
								<div class="card flex-fill">
									<div class="card-header">
										<h5 class="card-title mb-0">Create Payment Type </h5>
									</div>
									<div class="card-body">

										<ul>
                                        <li class="list-group-item"> Name: <input type="text" name="name" class="form-control"> </li>
                                        <li class="list-group-item"> Image: <input type="file" name="thumpnail" class="form-control"> </li>


										<div class="package-btn">
										<button type="reset" class="btn btn-danger"> Reset </button>
                                         <button type="submit" class="btn btn-primary" value="Upload"> Submit </button>
										</div>
									</div>
								</div>
                            </form>
                    </div>


        </div>
    </div>
<!-- End Main content-->
{% endblock %}