{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
<!-- Main Content -->

<div class="content container-fluid" xmlns="http://www.w3.org/1999/html">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">General Settings </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"> Manage Website </a></li>
                        <li class="breadcrumb-item active">Admin - Settingss</li>
                    </ul>
                </div>
            </div>
        </div>
	 </div>

      {% if messages %}
        <div class="alert  alert-light alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
       </div>
       {% endif %}

    <div class="container">
    <div class="row packages-row">


	                <div class="col-12 col-md-6 col-lg-6 md-flex">
                            <form method="post" action="/adminapp/general-settings/" >
                                {% csrf_token %}
								<div class="card flex-fill">
									<div class="card-header">
										<h5 class="card-title mb-0">Create Package </h5>
									</div>
									<div class="card-body">

										<ul>
                                        <li class="list-group-item"> Config ID: <input type="number" name="cid" class="form-control" value="{{setting.cid}}"> </li>
                                        <li class="list-group-item"> Website Name: <input type="text" name="site_name" class="form-control" value="{{setting.website_name}}"> </li>
                                        <li class="list-group-item"> Website Status : <input type="checkbox" name="website_status" value="{{setting.website_status}}">  </li>
                                        <li class="list-group-item"> Allow USer signup : <input type="checkbox" name="allow_user_signup" value="{{setting.allow_user_signup}}">  </li>
                                        <li class="list-group-item"> Recaptha Enabled : <input type="checkbox" name="recaptha_enabled" value="{{setting.recaptha_enabled}}">  </li>

										</ul>
										<div class="package-btn">
										<button type="reset" class="btn btn-danger"> Reset </button>
                                         <button type="submit" class="btn btn-primary"> Submit </button>
										</div>
									</div>
								</div>
                            </form>
                    </div>


        </div>
    </div>
<!-- End Main content-->
{% endblock %}