{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
<!-- Main Content -->

<div class="content container-fluid" xmlns="http://www.w3.org/1999/html">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">List All Themes</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/adminapp/all-themes/">List Themes</a></li>
                        <li class="breadcrumb-item active">Admin - themes</li>
                    </ul>
                </div>
            </div>
        </div>
	 </div>

      {% if messages %}
        <div class="alert  alert-light alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
       </div>
       {% endif %}

    <div class="container">
    <div class="row packages-row">

                    {% for theme in themes %}
	                <div class="col-12 col-md-6 col-lg-4 d-flex">
								<div class="card flex-fill">
									<div class="card-header">
										<h5 class="card-title mb-0"> {{theme.name}} </h5>
									</div>
									<div class="card-body">
										<p class="card-text">
                                           {% if  theme.thumbnail %}
                                            <img src="{{theme.thumbnail.url}}" alt="Thumbline" width="240px" height="240px">
                                            {% else %}
                                             No Image Available
                                            {% endif %}
                                        </p>
										<ul>
                                        <li class="list-group-item">Theme ID : {{theme.tid}} </li>
                                        <li class="list-group-item"> Free Theme: {{theme.is_free}} </li>
										<li class="list-group-item"> Status :{{theme.status}} </li>
                                       <li class="list-group-item themepack"> Packages:
                                           {% for pack in theme.package.all %}
                                               <br> {{ pack }}
                                            {% endfor %}
                                       </li>
										</ul>
										<div class="package-btn">
										<a class="btn btn-primary" href="/adminapp/update-theme/{{theme.id}}"> Edit </a>
										<button class="btn btn-danger" href="#"> Disable </button>
										</div>
									</div>
								</div>
							</div>
                    {% endfor %}
        </div>
    </div>
<!-- End Main content-->
{% endblock %}